.mat-sidenav-container{
    height: 100%;
}

.mat-sidenav{
    width:250px;
    padding: 20px;
    height: 100%;
    background-color: blueviolet;
    color: black;
}
.mat-sidenav-content{
padding:20px;
}
.mat-toolbar{
    padding:0%;
}
.main-content{
    padding:20px;
}